.main-container {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0;
    transform: translateY(-50%);
}

.x-axis {
    margin-right: 10vw;
    width: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.node {
    outline: solid black 1px;
    margin-bottom: 1cm;
    height: 1cm;
    width: 1cm;
    text-align: center;
    padding-top: 0.15cm;
}